/**
 * Common Definitions
 * EuroCamp
 *
 * Copyright (c) 2023. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

@color_background: white;
@color_text: #333333;
@color_accent: #005e9c;
@color_action: #f15a2c;

@section_spacing: 4rem;
@header_spacing: 1rem;
@paragraph_spacing: 1rem;
@button_padding: 0.5rem 1rem;
@input_padding: 0.5rem;
@finger_size: 2.5rem;
