/**
 * Content Style Sheet
 * EuroCamp
 *
 * Copyright (c) 2023. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

a.call-to-action {
	text-decoration: none;
	color: @color_background;
	padding: 0.5rem 0.8rem;
	border: 1px solid @color_action;
	border-radius: 0.5rem;
	background-color: @color_action;
	font-weight: bold;
}

section#thank-you,
section#terms-of-use {
	padding: 1em;
	padding-top: 110px;
}

section#video {
	padding: 30px;
	position: relative;
	text-align: center;

	a img {
		max-width: 100%;
	}

	svg {
		display: none;
	}

	a + svg {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 5em;

		transform: translate(-50%, -50%);

		fill: @color_accent;
		pointer-events: none;
	}
}

section#features {
	position: relative;
	padding: 30px;

	article {
		text-align: center;
		padding-bottom: 1em;
	}

	> ul {
		display: block;
		margin: 0;
		padding: 0;

		list-style-type: none;
		list-style-image: none;

		> li {
			display: block;
			margin-bottom: 2em;

			&:last-child {
				margin-bottom: 0;
			}

			&::before {
				display: block;
				height: 50px;
				content: '';
				margin-bottom: 1em;
				padding: 0.3em;

				background-size: 80px;
				background-position: center;
				background-repeat: no-repeat;
				background-color: @color_accent;
				border-radius: 0.5em;
			}

			&:nth-child(1)::before {
				background-image: url(../images/icon1.svg);
			}
			&:nth-child(2)::before {
				background-image: url(../images/icon2.svg);
			}
			&:nth-child(3)::before {
				background-image: url(../images/icon3.svg);
			}

			ul {
				display: block;
				margin: 0;
				padding: 0;

				list-style-type: none;
				list-style-image: none;

				li::before {
					display: inline-block;
					content: '';
					width: 5px;
					height: 5px;
					margin: 0 6px;

					border-radius: 50%;
					background-color: currentColor;
				}
			}
		}
	}
}

section#gallery-1 {
	img {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 5px;

		.elements-in-row(2, 5px, 0);

		line-height: 0;
	}
}

section#gallery-2 {
	img {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 5px;

		.elements-in-row(3, 5px, 0);

		line-height: 0;
	}
}

section#contact-form {
	padding: 30px;

	> div {
		article {
			margin-bottom: 3em;

			h2 {
				text-align: center;
				line-height: 110%;
			}

			li {
				font-size: 1.4rem;
			}
		}

		h3 {
			text-align: center;
			line-height: 110%;

			a {
				color: @color_text;
			}
		}

		form {
			display: block;

			label {
				display: block;
				margin-bottom: 1em;

				&:nth-of-type(n + 4) {
					display: none;
				}

				span {
					display: block;
				}

				input {
					width: 100%;
					padding: 0.5em;
					box-sizing: border-box;

					border: 1px solid lighten(@color_text, 50%);
					border-radius: 0.5em;
					background-color: darken(@color_background, 1%);

					&:focus {
						border-color: @color_accent;
						outline: none;
						color: @color_accent;
					}
				}
			}

			div.controls {
				text-align: center;

				button {
					margin: 0 0.5em;
					padding: 0.5em 2em;

					border: 1px solid darken(@color_accent, 10%);
					border-radius: 0.5em;
					background-color: @color_accent;

					color: @color_background;
					font-weight: bold;
					transition: 0.3s all;

					&:hover {
						background-color: darken(@color_accent, 10%);
					}
				}
			}
		}
	}
}

section#about-camp-coach {
	padding: 30px;
	padding-bottom: 300px;
	box-sizing: border-box;

	// background-image: url(../images/camp_1_background.jpg);
	background-image: url(../images/header_article_background.jpg);
	background-size: auto 300px;
	background-position: 20% bottom;
	background-repeat: no-repeat;
	background-color: #000;

	color: white;

	h2 {
		text-align: center;
		line-height: 110%;
	}
}

section.article-with-gallery {
	position: relative;
	min-height: 230px;
	padding: 30px;
	padding-top: 230px;

	background-size: auto 200px;
	background-position: center top;
	background-repeat: no-repeat;

	&#about-camp-location { background-image: url(../images/camp_2_background.jpg); }
	&#about-camp-leisure { background-image: url(../images/camp_3_background.jpg); }

	> div {
		&.article h2 {
			position: absolute;
			width: 80%;
			top: 100px;
			left: 50%;
			padding: 0.5em;

			border-radius: 0.5em;
			background-color: rgba(0, 0, 0, 0.5);

			color: white;
			text-align: center;
			line-height: 110%;
			transform: translate(-50%, -50%);
		}

		&.gallery img {
			display: inline-block;
			vertical-align: top;
			margin-bottom: 5px;

			.elements-in-row(3, 5px, 0);
		}
	}
}

section#schedule {
	position: relative;
	min-height: 300px;
	padding: 30px;

	background-image: url(../images/schedule_background.jpg);
	background-size: 1920px auto;
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #060;

	color: white;

	h2 {
		text-align: center;
	}

	table {
		width: 100%;
		@color_border: fade(white, 50%, 0);

		border-collapse: collapse;
		border: 1px solid @color_border;

		&:first-of-type {
			margin-bottom: 2em;
		}

		td, th {
			padding: 0.5em 0.5em;
			border: 1px solid @color_border;
		}
	}
}

/**
 * Look and behavior of full registration form.
 */
body > div.dialog {
	top: 100px;

	div.content.scroll div.inner_content {
		overflow-y: auto;
		max-height: 60vh;
	}
}

div.dialog.full-form {
	top: 0;
	z-index: 10000000;

	div.title {
		padding: 0 2rem;
		background-color: @color_background;
		color: @color_text;
	}

	div.command_bar a {
		margin: 0 0.5em;
		padding: 0.5em 2em;

		border: 1px solid darken(@color_accent, 10%);
		border-radius: 0.5em;
		background-color: @color_accent;

		color: @color_background;
		font-weight: bold;
		transition: 0.3s all;

		&:hover {
			background-color: darken(@color_accent, 10%);
			cursor: pointer;
		}
	}
}

div#full-form {
	min-height: 400px;
	position: relative;

	div.page_controls {
		display: flex;
		justify-content: space-evenly;
		padding: 0.5rem 0;

		button {
			position: relative;

			padding: 0.5em 1.5em;

			border: 1px solid darken(@color_accent, 10%);
			border-radius: 0.5rem;
			background-color: @color_background;

			color: darken(@color_accent, 10%);
			font-weight: bold;
			transition: 0.3s all;

			&:hover,
			&:active,
			&.active {
				background-color: @color_accent;
				color: @color_background;
				cursor: pointer;
			}

			&:not(:last-of-type)::after {
				content: '';
				width: 10px;
				height: 1px;
				position: absolute;
				top: 50%;
				right: -50%;
				left: unset;
				transform: translate(50%, -50%);
				border-bottom: 2px solid @color_accent;

				html[dir=rtl] & {
					left: -50%;
					right: unset;
					transform: translate(-50%, -50%);
				}
			}
		}
	}

	body > & {
		display: none;
	}

	form {
		display: block;
		padding: 0.5rem;

		fieldset {
			position: absolute;
			left: 1rem;
			right: 1rem;
			top: 70px;
			bottom: 0;
			z-index: -1;
			border: unset;
			margin: 0;
			padding: 1rem;
			background-color: @color_background;

			&.visible {
				z-index: 99999;
				display: block;
			}

			&:nth-of-type(2) {

				> label {
					display: inline-block;
					width: calc(~'((100% - 1rem) / 2)');

					&:nth-of-type(odd) {
						margin-right: 1rem;

						html[dir=rtl] & {
							margin-right: 0;
							margin-left: 1rem;
						}
					}

					&:last-of-type {
						width: 100%;
					}

					> input,
					> select {
						width: 100%;
					}
				}
			}
		}

		label {
			display: block;
			margin-bottom: 1em;

			span {
				display: block;
			}

			input,
			select {
				padding: 0.5em;
				box-sizing: border-box;
				width: 100%;

				border: 1px solid lighten(@color_text, 50%);
				border-radius: 0.5em;
				background-color: darken(@color_background, 1%);

				&[type='date'],
				&[name='personal_id'],
				&[name='clothing_size'] {
					width: auto;
				}

				&:hover,
				&:focus {
					border-color: @color_accent;
					outline: none;
					color: @color_accent;
				}
			}
		}

		div.controls {
			display: none;
		}
	}
}

/**
 * Style for all links inside articles
 */
article {
	a {
		text-decoration: none;
		color: @color_accent;
		transition: all 0.3s;

		&:visited {
			color: darken(@color_accent, 10%);
		}
	}
}

/**
 * Style fieldsets
 */
 form {
	fieldset {
		border: none;
		margin: 0;
		padding: 0;
		display: none;

		&:first-of-type {
			display: block;
		}
	}
}

div.dialog.form {
	max-height: 80vh;
	overflow: auto;
	padding-bottom: 1em;

	div.title {
		text-align: center;
		background-color: @color_accent;
	}

	div.command_bar a {
		padding: 0.5rem 0.8rem;

		border: 0;
		border-radius: 0.5em;

		font-weight: bold;

		transition: all 0.3s;
		cursor: pointer;

		&.checkout {
			background-color: @color_accent;
			color: @color_background;
			transition: all 0.3s;

			&:focus,
			&:hover,
			&:active {
				background-color: @color_background;
				color: @color_accent;
			}
		}

		svg {
			vertical-align: middle;
			margin-right: 5px;

			fill: currentColor;
			width: 1.2rem;
			aspect-ratio: 1;
			padding: 0 0.5rem;
		}
	}

	div.ticket-list {
		display: block;
		padding: 1em;

		border: 1px solid darken(@color_background, 20);
		border-radius: 0.5em;
		background-color: darken(@color_background, 5);

		> button {
			padding: 0.5em 1em;
			margin-top: 1em;

			svg {
				vertical-align: middle;
				margin-right: 5px;

				fill: currentColor;
				max-width: 1.5em;
				max-height: 1.5em;

				html[dir=rtl] & {
					margin-right: 0;
					margin-left: 5px;
				}
			}
		}

		div.editor {
			margin-bottom: 1em;
			padding: 1em;

			border: 1px solid darken(@color_background, 20);
			border-radius: 0.2em;
			background-color: @color_background;
			color: @color_text;

			&:last-child {
				margin-bottom: 0;
			}

			label {
				display: flex;
				flex-direction: column;
				gap: 0.3rem;

				&:not(:last-of-type) {
					margin-bottom: 1rem;
				}

				html[dir=rtl] span {
					text-align: right;
				}

				input {
					padding: 0.5em 1em;

					border: 1px solid fade(@color_accent, 30);
					border-radius: 1em;

					&:focus {
						border-color: @color_accent;
						outline: none;
					}

					&[name=phone],
					&[name=email] {
						direction: ltr;
					}
				}

				select {
					padding: 0.5em 1em;
					background-color: @color_background;

					border: 1px solid fade(@color_accent, 30);
					border-radius: 1em;

					&:focus {
						border-color: @color_accent;
						outline: none;
					}
				}
			}

			div.controls {
				display: flex;
				padding-top: 1em;
				justify-content: center;

				button {
					padding: 0.5em;
					background-color: @color_accent;
					border: 1px solid @color_accent;
					color: @color_background;
					border-radius: 0.5em;
					font-weight: bold;

					svg {
						vertical-align: middle;
						fill: @color_background;
						width: 1.2rem;
						aspect-ratio: 1;
						padding: 0 0.5rem;
					}

					&:hover,
					&:focus,
					&:active {
						background-color: @color_background;
						color: @color_accent;

						> svg {
							fill: @color_accent;
						}
					}
				}
			}
		}

		div.ticket {
			display: flex;
			align-items: center;
			margin-bottom: 0.3em;
			padding: 0.5em;

			border: 1px solid darken(@color_background, 20);
			border-radius: 0.2em;
			background-color: @color_background;

			&.template {
				display: none;
			}

			strong {
				flex: 1;
				padding-left: 0.5em;

				html[dir=rtl] & {
					padding-left: 0;
					padding-right: 0.5em;
				}
			}

			button {
				flex: 0.05;
				height: 2rem;
				margin-left: 5px;
				padding: 0.3rem 1.2rem;
				border: 0;
				border-radius: 0.5em;

				background-color: lighten(@color_text, 50);
				color: @color_text;

				transition: all 0.3s;

				html[dir=rtl] & {
					margin-right: 5px;
					margin-left: 0px;
				}

				svg {
					fill: @color_background;
					width: 1rem;
					aspect-ratio: 1;
				}

				&:hover,
				&:focus,
				&:active {
					background-color: lighten(@color_text, 60);
					box-shadow: 0 0 2px 1px lighten(@color_text, 65);
				}
			}
		}

		div.total {
			padding-left: 0.3em;
			padding-right: 0.3em;
			font-size: 1.1em;

			span.value {
				display: inline-block;
				padding-left: 0.3em;
				padding-right: 0.3em;

				font-weight: bold;
			}

			&::after {
				content: ' ILS';
			}
		}
	}
}

hr {
	border: 0;
	border-bottom: 1px solid lighten(@color_text, 60);
	margin: 1.5rem 0;
}

div#checkout_container {
	margin-top: 6rem;

	& > div.sale > form > div.container {
		display: none;
	}

	div.guest_checkout {
		display: flex;
		flex-direction: column;
		padding: 1rem 0.5rem;
	}

	form {
		h1 {
			background-color: @color_accent;
			text-shadow: none;
			padding: 0.5rem 0;
		}

		label {
			display: flex;
			flex-direction: column;
			gap: 0.2rem;

			input {
				padding: 0.5em 1em;

				border: 1px solid fade(@color_accent, 30);
				border-radius: 1em;
				width: auto;

				&:focus {
					border-color: @color_accent;
					outline: none;
				}

				&[name=phone],
				&[name=email] {
					direction: ltr;
				}
			}

			&.checkbox {
				margin-top: 1rem;

				& > span {
					text-align: right;
				}
			}
		}
	}

	div#checkout_steps a.active::before {
		border: 1px solid @color_accent;
		background-color: @color_accent;
		box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 7px rgba(255, 255, 255, 0.2), inset 0 7px 10px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.2);
		color: @color_background;
	}

	div.checkout_controls button.next,
	div.checkout_controls button[type=submit] {
		background: none;
		box-shadow: none;
		background-color: @color_accent;
		border-color: @color_accent;
		padding: 0.5rem 1.5rem;
		border-radius: 0.5em;
		text-shadow: none;

		&:hover,
		&:focus,
		&:active {
			background-color: @color_background;
			color: @color_accent;
			text-shadow: none;
		}
	}

	div.checkout_controls button.next::after,
	div.checkout_controls button[type=submit]::after,
	div#checkout_container div.checkout_controls button[type="button"]::after {
		display: none;
	}

	div.checkout_controls button.previous,
	div.checkout_controls button[type=button] {
		background: none;
		box-shadow: none;
		background-color: lighten(@color_text, 60);
		color: @color_text;
		text-shadow: none;
		border: 1px solid lighten(@color_text, 65);
		padding: 0.5rem 1.5rem;
		border-radius: 0.5em;

		&:hover,
		&:focus,
		&:active {
			background-color: lighten(@color_text, 70);
		}
	}

	div.checkout_controls small {
		color: @color_text;
	}

	td.optional.tax,
	td.optional.weight {
		display: none;
	}

	tr.optional.total-weight {
		display: none;
	}

	table.checkout_details thead td {
		background-color: @color_accent;
	}

	table.checkout_details td.total-label,
	table.checkout_details td.total-value {
		background-image: linear-gradient(90deg,#fff,rgba(0,0,0,0.05));
	}

	div#input_details label input[type="email"] {
		width: auto;
	}
}

div#checkout_container div.checkout_controls button[type="button"]::after {
	display: none;
}

div#checkout table.checkout_details {
	font-size: 1rem;
}

html[dir="rtl"] div#input_details label.radio span {
	text-align: right;
}
