/**
 * Content Style Sheet
 * EuroCamp
 *
 * Copyright (c) 2023. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

a.call-to-action {
	display: inline-block;
	margin: 0 0.5em;
	padding: 0.5em 2em;

	border: 1px solid darken(@color_accent, 10%);
	border-radius: 0.5em;
	background-color: @color_action;

	color: @color_background;
	font-weight: bold;
	transition: 0.3s all;
	text-decoration: none;


	&:hover {
		background-color: darken(@color_action, 10%);
		cursor: pointer;
	}

	svg {
		width: 100%;
		height: 100%;
		fill: @color_action;
		transition: fill 0.3s;
	}

	&:hover svg {
		fill: darken(@color_action, 10%);
	}
}

section#thank-you,
section#terms-of-use {
	padding: 50px calc(~'(100vw - 1000px)' / 2);
	padding-top: 200px;
}

section#video {
	position: fixed;
	top: 120px;
	left: 0;
	width: 640px;
	height: 480px;
	padding: 1em;

	z-index: 1000000000;

	@border_color: darken(@color_background, 20);

	border: 1px solid @border_color;
	border-radius: 0 0.5em 0.5em 0;
	background-color: @color_background;

	transform: translatex(-100%);
	transition: transform 0.5s;
	filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));

	&.visible {
		transform: translatex(0);
	}

	button {
		position: absolute;
		top: 20px;
		left: 100%;
		width: 5rem;
		height: 4rem;

		border: 1px solid @border_color;
		border-left-color: @color_background;
		border-radius: 0 0.2rem 0.2rem 0;
		background-color: @color_background;
		cursor: pointer;

		svg {
			width: 100%;
			height: 100%;
			fill: @color_accent;
			transition: fill 0.3s;
		}

		&:hover svg {
			fill: darken(@color_accent, 10%);
		}
	}
}

section#features {
	position: relative;
	padding: 50px calc(~'(100vw - 1000px)' / 2);

	article {
		text-align: center;
		padding-bottom: 50px;

		h2 {
			font-size: 50px;
		}

		p {
			font-size: 1.4rem;
			line-height: 120%;
		}
	}

	> ul {
		display: block;
		margin: 0;
		padding: 0;

		list-style-type: none;
		list-style-image: none;

		> li {
			display: inline-block;
			vertical-align: top;

			.elements-in-row(3, 50px, 0);

			font-size: 1.4rem;

			&::before {
				display: block;
				height: 50px;
				content: '';
				margin-bottom: 1em;
				padding: 0.3em;

				background-size: 80px;
				background-position: center;
				background-repeat: no-repeat;
				background-color: @color_accent;
				border-radius: 0.5em;
			}

			&:nth-child(1)::before {
				background-image: url(../images/icon1.svg);
			}
			&:nth-child(2)::before {
				background-image: url(../images/icon2.svg);
			}
			&:nth-child(3)::before {
				background-image: url(../images/icon3.svg);
			}

			ul {
				display: block;
				margin: 0;
				padding: 0;

				list-style-type: none;
				list-style-image: none;

				li::before {
					display: inline-block;
					content: '';
					width: 8px;
					height: 8px;
					margin: 0 6px;

					border-radius: 50%;
					background-color: currentColor;
				}
			}
		}
	}
}

section#gallery-1 {
	img {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 5px;

		.elements-in-row(5, 5px, 0);

		line-height: 0;
	}
}

section#gallery-2 {
	img {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 5px;

		.elements-in-row(8, 5px, 0);

		line-height: 0;
	}
}

section#contact-form {
	padding: 50px calc(~'(100vw - 1000px)' / 2);

	> div {
		display: inline-block;
		vertical-align: top;
		.elements-in-row(2, 50px, 0);

		article {
			h2 {
				padding-right: 20%;
				font-size: 2.5em;
				line-height: 120%;

				html[dir=rtl] & {
					padding-right: 0;
					padding-left: 20%;
				}
			}

			li {
				font-size: 1.4rem;
			}
		}

		h3 {
			display: block;
			width: 70%;
			text-align: center;

			a {
				color: @color_text;
			}
		}

		form {
			display: block;
			width: 70%;

			fieldset {
				width: 100%;
			}

			label {
				display: block;
				margin-bottom: 1em;

				&:nth-of-type(n + 4) {
					display: none;
				}

				span {
					display: block;
				}

				input {
					width: 100%;
					padding: 0.5em;
					box-sizing: border-box;

					border: 1px solid lighten(@color_text, 50%);
					border-radius: 0.5em;
					background-color: darken(@color_background, 1%);

					&:hover,
					&:focus {
						border-color: @color_accent;
						outline: none;
						color: @color_accent;
					}
				}
			}

			div.controls {
				text-align: center;

				button {
					margin: 0 0.5em;
					padding: 0.5em 2em;

					border: 1px solid darken(@color_accent, 10%);
					border-radius: 0.5em;
					background-color: @color_accent;

					color: @color_background;
					font-weight: bold;
					transition: 0.3s all;

					&:hover {
						background-color: darken(@color_accent, 10%);
						cursor: pointer;
					}
				}
			}
		}
	}
}

section#about-camp-coach {
	min-height: 600px;
	padding: 50px calc(~'(100vw - 1000px)' / 2);
	box-sizing: border-box;

	// background-image: url(../images/camp_1_background.jpg);
	background-image: url(../images/header_article_background.jpg);
	background-size: auto 600px;
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #000;

	color: white;

	article {
		float: right;
		width: 51%;
		text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
	}
}

section.article-with-gallery {
	position: relative;
	min-height: 230px;
	padding: 50px calc(~'(100vw - 1000px)' / 2);
	padding-top: 350px;

	background-size: auto 300px;
	background-position: center top;
	background-repeat: no-repeat;

	&#about-camp-location { background-image: url(../images/camp_2_background.jpg); }
	&#about-camp-leisure { background-image: url(../images/camp_3_background.jpg); }

	> div {
		display: inline-block;
		vertical-align: top;

		.elements-in-row(2, 50px, 0);

		&.article h2 {
			position: absolute;
			top: 150px;
			left: 50%;
			padding: 1em 2em;

			border-radius: 0.5em;
			background-color: rgba(0, 0, 0, 0.5);
			color: white;
			font-size: 2.5em;

			transform: translate(-50%, -50%);
		}

		&.gallery img {
			display: inline-block;
			vertical-align: top;
			margin-bottom: 10px;

			.elements-in-row(3, 10px, 0);
		}
	}
}

section#schedule {
	position: relative;
	min-height: 300px;
	padding: 50px calc(~'(100vw - 1000px)' / 2);

	background-image:
	url(../images/play1.png),
	url(../images/play2.png),
	url(../images/schedule_background.jpg);
	background-size:
	150px auto,
	150px auto,
	1920px auto;
	background-position:
	calc(~'50% - 670px') 70%,
	calc(~'50% + 670px') 20%,
	center;
	background-repeat: no-repeat;
	background-color: #060;

	color: white;
	white-space: nowrap;

	table {
		display: inline-table;
		.elements-in-row(2, 30px, 1);

		@color_border: fade(white, 50%, 0);

		border-collapse: collapse;
		border: 1px solid @color_border;

		td, th {
			padding: 0.5em 1em;
			border: 1px solid @color_border;
		}
	}
}

div.dialog.form {
	top: 1rem;
	max-width: 750px;
	border-radius: 2rem;

	div.title {
		padding-left: 1em;
		padding-right: 1em;

		border-radius: 2rem 2rem 0 0;
		background-color: @color_accent;

		color: @color_background;
		text-align: center;
	}

	article {
		margin-bottom: 2em;
	}

	div.content {
		max-height: 80vh;
		overflow: auto;
	}
}

div.dialog.form {
	padding-bottom: 1em;

	div.command_bar a {
		padding-left: 2em;
		padding-right: 2em;

		border: 0;
		border-radius: 0.5em;

		font-weight: bold;

		transition: all 0.3s;
		cursor: pointer;

		&.checkout {
			background-color: @color_accent;
			color: @color_background;

			&:hover,
			&:focus,
			&:active {
				background-color: @color_background;
				border: 1px solid @color_accent;
				color: @color_accent;

				> svg {
					fill: @color_accent;
				}
			}
		}

		svg {
			vertical-align: middle;
			margin-right: 5px;

			fill: currentColor;
			max-width: 1.5em;
			max-height: 1.5em;

			html[dir=rtl] & {
				margin-right: 0;
				margin-left: 5px;
			}
		}
	}

	div.ticket-list {
		display: block;
		padding: 1em;

		border: 1px solid darken(@color_background, 20);
		border-radius: 0.5em;
		background-color: darken(@color_background, 5);

		> button {
			padding: 0.5em 1em;
			margin-top: 1em;

			svg {
				vertical-align: middle;
				margin-right: 5px;

				fill: currentColor;
				max-width: 1.5em;
				max-height: 1.5em;

				html[dir=rtl] & {
					margin-right: 0;
					margin-left: 5px;
				}
			}
		}

		div.editor {
			margin-bottom: 1em;
			padding: 1em;

			border: 1px solid darken(@color_background, 20);
			border-radius: 0.2em;
			background-color: @color_background;

			&:last-child {
				margin-bottom: 0;
			}

			label {
				display: flex;
				align-items: center;
				margin-bottom: 0.5em;

				span {
					flex: 1 0 100px;
				}

				input {
					flex: 1 0 200px;
					padding: 0.2em 1em;

					border: 1px solid fade(@color_accent, 30);
					border-radius: 1em;

					&:focus {
						border-color: @color_accent;
						outline: none;
					}

					&[name=phone],
					&[name=email] {
						direction: ltr;
					}
				}

				select {
					padding: 0.2em 1em;
					background-color: @color_background;

					border: 1px solid fade(@color_accent, 30);
					border-radius: 1em;

					&:focus {
						border-color: @color_accent;
						outline: none;
					}
				}
			}

			div.controls {
				display: flex;
				padding-top: 1em;
				justify-content: center;

				button {
					flex: 0 0 150px;

					padding: 0.5em;
					background-color: @color_accent;
					border: 1px solid @color_accent;
					color: @color_background;
					border-radius: 0.5em;
					font-weight: bold;

					svg {
						vertical-align: middle;
						fill: @color_background;
						width: 1.2rem;
						aspect-ratio: 1;
						padding: 0 0.5rem;
					}

					&:hover,
					&:focus,
					&:active {
						background-color: @color_background;
						color: @color_accent;

						> svg {
							fill: @color_accent;
						}
					}
				}
			}
		}

		div.ticket {
			display: flex;
			align-items: center;
			margin-bottom: 0.3em;
			padding: 0.5em;

			border: 1px solid darken(@color_background, 20);
			border-radius: 0.2em;
			background-color: @color_background;

			&.template {
				display: none;
			}

			strong {
				flex: 1;
				padding-left: 0.5em;

				html[dir=rtl] & {
					padding-left: 0;
					padding-right: 0.5em;
				}
			}

			button {
				flex: 0.05;
				height: 2rem;
				margin-left: 5px;
				padding: 0.3rem 1.2rem;
				border: 0;
				border-radius: 0.5em;
				transition: all 0.3s;
				cursor: pointer;


				background-color: lighten(@color_text, 50);
				color: @color_text;

				transition: all 0.3s;

				html[dir=rtl] & {
					margin-right: 5px;
					margin-left: 0px;
				}

				svg {
					fill: @color_background;
					width: 1rem;
					aspect-ratio: 1;
				}

				&:hover,
				&:focus,
				&:active {
					background-color: lighten(@color_text, 60);
					box-shadow: 0 0 2px 1px lighten(@color_text, 65);
				}
			}
		}

		div.total {
			padding-left: 0.3em;
			padding-right: 0.3em;
			font-size: 1.1em;

			span.value {
				display: inline-block;
				padding-left: 0.3em;
				padding-right: 0.3em;

				font-weight: bold;

				&::after {
					content: ' ILS';
				}
			}
		}
	}
}

div#checkout_container {
	td.optional.tax,
	td.optional.weight {
		display: none;
	}

	tr.optional.total-weight {
		display: none;
	}
}

/**
 * Style for all links inside articles
 */
article {
	a {
		text-decoration: none;
		color: @color_accent;
		transition: all 0.3s;

		&:hover,
		&:visited {
			color: darken(@color_accent, 10%);
		}
	}
}

/**
 * Style fieldsets
 */
form {
	fieldset {
		border: none;
		margin: 0;
		padding: 0;
		display: none;

		&:first-of-type {
			display: inline-block;
			vertical-align: bottom;
		}
	}
}

hr {
	border: 0;
	border-bottom: 1px solid lighten(@color_text, 60);
	margin: 1rem 0;
}

div#checkout_container {
	margin-top: 8rem;

	& > div.sale > form > div.container {
		display: none;
	}

	div.guest_checkout {
		padding: 0 4rem;
	}

	form {
		h1 {
			background-color: @color_accent;
		}

		label {
			display: flex;
			align-items: center;

			span {
				flex: 1;
				text-align: right;
			}

			input {
				flex: 3;
				padding: 0.2em 1em;

				border: 1px solid fade(@color_accent, 30);
				border-radius: 1em;

				&:focus {
					border-color: @color_accent;
					outline: none;
				}

				&[name=phone],
				&[name=email] {
					direction: ltr;
				}
			}

			&.checkbox {
				margin-top: 1rem;

				& > span {
					text-align: right;
				}
			}
		}
	}

	div#checkout_steps a.active::before {
		border: 1px solid @color_accent;
		background-color: @color_accent;
		box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 7px rgba(255, 255, 255, 0.2), inset 0 7px 10px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.2);
		color: white;
	}

	div.checkout_controls button.next,
	div.checkout_controls button[type=submit] {
		background: none;
		box-shadow: none;
		background-color: @color_accent;
		border-color: @color_accent;
		padding: 0.5rem 1.5rem;
		border-radius: 0.5em;
		text-shadow: none;

		&:hover,
		&:focus,
		&:active {
			background-color: @color_text;
			color: @color_accent;
			text-shadow: none;
		}
	}

	div.checkout_controls button.previous,
	div.checkout_controls button[type=button] {
		background: none;
		box-shadow: none;
		background-color: lighten(@color_text, 60);
		color: @color_text;
		text-shadow: none;
		border: 1px solid lighten(@color_text, 65);
		padding: 0.5rem 1.5rem;
		border-radius: 0.5em;

		&:hover,
		&:focus,
		&:active {
			background-color: lighten(@color_text, 70);
		}
	}

	div.checkout_controls small {
		color: @color_text;
	}

	td.optional.tax,
	td.optional.weight {
		display: none;
	}

	tr.optional.total-weight {
		display: none;
	}

	table.checkout_details thead td {
		background-color: @color_accent;
	}

	table.checkout_details td.total-label,
	table.checkout_details td.total-value {
		background-image: linear-gradient(90deg,#fff,rgba(0,0,0,0.05));
	}
}

html[dir="rtl"] div#input_details div.guest_checkout label span {
	text-align: right;
}

html[dir="rtl"] div#input_details label.radio span {
	text-align: right;
}

