/**
 * Footer Style Sheet
 * EuroCamp
 *
 * Copyright (c) 2023. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

footer {
	min-height: 300px;
	padding: 50px calc(~'(100vw - 1000px)' / 2);

	background-image: url(../images/footer_background.jpg);
	background-position: center bottom;
	background-size: 1920px 500px;
	background-repeat: no-repeat;
	background-color: black;

	color: white;
	text-align: center;

	a.terms {
		display: inline-block;
		padding: 1em;

		color: white;
	}

	h2 {
		text-align: center;
		font-size: 2.5em;
	}

	h3 {
		text-align: center;

		a {
			color: @color_background;
		}
	}

	div.links {
		margin-bottom: 2em;

		div {
			display: inline-block;
			vertical-align: top;
			text-align: center;

			.elements-in-row(3, 30px);

			&:first-child {
				text-align: initial;
			}

			h5 {
				margin-bottom: 0.2em;
			}

			article ul {
				margin: 0;
				padding: 0;

				list-style-type: none;
				list-style-image: none;
				text-align: initial;

				li em {
					display: inline-block;
					min-width: 30%;
				}
			}

			a {
				margin-right: 1rem;

				color: white;
				font-size: 1.5em;
				text-decoration: none;
				transition: 0.3s all;

				html[dir=rtl] & {
					margin-left: 1em;
					margin-right: 0em;
				}

				&:last-of-type,
				html[dir=rtl] &:last-of-type {
					margin: 0;
				}

				svg {
					vertical-align: text-top;
					width: 2rem;
					height: 2rem;
					margin-right: 0.2em;

					transition: 0.3s all;

					html[dir=rtl] & {
						margin-right: 0;
						margin-left: 0.2em;
					}

					&:last-child,
					html[dir=rtl] &:last-child {
						margin: 0;
					}
				}

				span {
					direction: ltr;
					unicode-bidi: bidi-override;
				}

				svg {
					fill: currentColor;
				}

				&[href*="facebook.com"] { color: #4267B2; }
				&[href*="instagram.com"] { color: #833AB4; }
				&[href*="youtube.com"] { color: red; }
				&[href*="wa.me"] svg { fill: #25D366; }

				&[href*="facebook.com"]:hover { color: lighten(#4267B2, 20%); }
				&[href*="instagram.com"]:hover { color: lighten(#833AB4, 20%); }
				&[href*="youtube.com"]:hover { color: lighten(red, 20%); }
				&[href*="wa.me"]:hover { color: lighten(#25D366, 20%); }
			}
		}
	}

	form {
		display: block;
		text-align: center;

		fieldset {
			width: 75%;
		}

		label {
			display: inline-block;
			vertical-align: bottom;

			.elements-in-row(3, 10px);

			&:nth-of-type(n + 4) {
				display: none;
			}

			span {
				display: block;
				text-align: initial;
			}

			input {
				display: block;
				width: 100%;
				padding: 0.5em;
				box-sizing: border-box;

				border: 1px solid black;
				border-radius: 0.5em;
				background-color: fade(black, 60%);
				color: @color_background;

				&:hover,
				&:focus {
					border-color: @color_accent;
					outline: none;
					color: lighten(@color_accent, 50%);
				}
			}
		}

		div.controls {
			display: inline-block;
			vertical-align: bottom;

			button {
				margin: 0 0.5em;
				padding: 0.5em 2em;

				border: 1px solid darken(@color_accent, 10%);
				border-radius: 0.5em;
				background-color: @color_accent;

				color: @color_background;
				font-weight: bold;
				transition: 0.3s all;

				&:hover {
					background-color: darken(@color_accent, 10%);
					cursor: pointer;
				}
			}
		}
	}

	div.copyright {
		display: block;
		width: 200px;
		margin-left: auto;
		margin-right: auto;
		text-align: initial;
	}
}
