/**
 * Header Style Sheet
 * EuroCamp
 *
 * Copyright (c) 2023. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

header {
	position: relative;
	padding: 10px calc(~'(100vw - 1000px)' / 2);
	background-color: white;
	filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.2));

	a.logo {
		position: absolute;
		top: 90%;
		left: 50%;
		width: 5em;
		height: 5em;

		transform: translate(-50%, -50%);
	}

	div.mobile_menu:before {
		display: inline-block;
		vertical-align: middle;
		content: "EuroCamp";
		font-size: 2rem;
		font-weight: bold;
	}

	a.phone {
		display: inline-block;
		vertical-align: middle;
		margin-left: 100%;

		color: @color_text;
		font-size: 1.5rem;
		text-decoration: none;
		transition: all 0.3s;

		transform: translatex(-100% - 20px);

		html[dir=rtl] & {
			margin-left: auto;
			margin-right: 100%;
			transform: translatex(100% + 20px);
		}

		&:hover {
			color: @color_accent;
		}

		svg {
			position: relative;
			top: 0.2rem;
			width: 1.5rem;
			height: 1.5rem;
			padding-right: 0.5rem;
			fill: currentColor;

			html[dir=rtl] & {
				padding-right: 0;
				padding-left: 0.5rem;
			}
		}
	}
}

section#header-article {
	min-height: 400px;
	margin-top: 30px;
	padding: 0px 40px;
	padding-top: 200px;
	box-sizing: border-box;

	// background-image: url(../images/header_article_background.jpg);
	background-image:
		linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),
		url(../images/camp_1_background.jpg);
	background-size: 100% 250px, auto 420px;
	background-position: center 170px, 22% top;
	background-repeat: no-repeat;
	background-color: #000;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);

	article {
		color: white;

		h1 {
			line-height: 110%;
		}
	}

	div.header-form {
		text-shadow: none;
		color: @color_background;
		padding: 2rem 0;

		h3 {
			font-size: 1em;
			text-align: center;

			a {
				color: @color_background;
			}
		}

		a.call-to-action {
			display: block;
			width: 80px;
			text-align: center;
			margin: 0 auto;
		}

		form {
			display: block;

			label {
				display: block;
				margin-bottom: 1em;

				&:nth-of-type(n + 4) {
					display: none;
				}

				span {
					display: block;
				}

				input {
					width: 100%;
					padding: 0.5em;
					box-sizing: border-box;

					border: 1px solid mix(black, @color_accent, 60%);
					border-radius: 0.5em;
					background-color: darken(@color_background, 1%);

					&:focus {
						border-color: @color_accent;
						outline: none;
						color: lighten(@color_accent, 50%);
					}
				}
			}

			div.controls {
				text-align: center;

				button {
					margin: 0 0.5em;
					padding: 0.5em 2em;

					border: 1px solid darken(@color_action, 10%);
					border-radius: 0.5em;
					background-color: @color_action;

					color: @color_background;
					font-weight: bold;
					transition: 0.3s all;

					&:hover {
						background-color: darken(@color_action, 10%);
					}
				}
			}
		}
	}
}


