/**
 * Header Style Sheet
 * EuroCamp
 *
 * Copyright (c) 2023. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

header {
	position: relative;
	padding: 20px calc(~'(100vw - 1000px)' / 2);
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 2;

	a.logo {
		position: absolute;
		top: 100%;
		left: 50%;
		width: 150px;
		height: 150px;

		transform: translate(355px, 30px);
	}

	nav#main:before {
		display: inline-block;
		vertical-align: middle;
		content: "EuroCamp";
		font-size: 2rem;
		font-weight: bold;
	}

	a.phone {
		display: inline-block;
		vertical-align: middle;

		color: @color_text;
		font-size: 1.5rem;
		text-decoration: none;
		transition: all 0.3s;

		&:hover {
			color: @color_accent;
		}

		svg {
			position: relative;
			top: 0.2rem;
			width: 1.5rem;
			height: 1.5rem;
			padding-right: 0.5rem;
			fill: currentColor;

			html[dir=rtl] & {
				padding-right: 0;
				padding-left: 0.5rem;
			}
		}
	}

	&.checkout a.logo {
		left: 50%;
		top: 2rem;
		transform: translate(-50%);
		filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.2));
	}
}

section#header-article {
	min-height: 600px;
	padding: 0px calc(~'(100vw - 1000px)' / 2);
	padding-top: 200px;
	box-sizing: border-box;
	position: relative;

	// background-image: url(../images/header_article_background.jpg);
	background-image: url(../images/camp_1_background.jpg);
	background-size: auto 600px;
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #999;

	article {
		float: right;
		width: 45%;
		color: white;

		h1 {
			font-size: 40px;
			line-height: 1.1;

			html[dir=rtl] & {
				font-size: 60px;
				line-height: 50px;
			}
		}

		p {
			font-size: 1rem;
			line-height: 1.1;

			html[dir=rtl] & {
				font-size: 1.4rem;
				line-height: 120%;
			}
		}
	}

	div.header-form {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 1rem calc(~'(100vw - 1200px)' / 2);
		padding-bottom: 3rem;
		text-align: center;
		color: @color_background;

		h3 a {
			color: @color_background;
		}

		form {
			display: block;
			text-align: center;

			fieldset {
				width: 75%;
			}

			label {
				display: inline-block;
				vertical-align: bottom;

				.elements-in-row(3, 10px);

				span {
					display: block;
					text-align: initial;
				}

				input {
					display: block;
					width: 100%;
					padding: 0.5em;
					box-sizing: border-box;

					border: 1px solid @color_background;
					border-radius: 0.5em;
					background-color: fade(black, 60%);
					color: @color_background;

					&:hover,
					&:focus {
						border-color: @color_accent;
						outline: none;
						color: lighten(@color_accent, 50%);
					}
				}
			}

			div.controls {
				display: inline-block;
				vertical-align: bottom;

				button {
					margin: 0 0.5em;
					padding: 0.5em 2em;

					border: 1px solid darken(@color_action, 10%);
					border-radius: 0.5em;
					background-color: @color_action;

					color: @color_background;
					font-weight: bold;
					transition: 0.3s all;

					&:hover {
						background-color: darken(@color_action, 10%);
						cursor: pointer;
					}
				}
			}
		}
	}
}
