/**
 * Main Style Sheet
 * EuroCamp
 *
 * Copyright (c) 2023. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

@import (reference) 'common.less';
@import (reference) 'stock/functions.less';
@import 'fonts.less';
@import 'header_mobile.less';
@import 'content_mobile.less';
@import 'footer_mobile.less';

@import (css) 'stock/header.css';
@import (css) 'stock/copyright_mobile.css';


body {
	background-color: @color_background;
	color: @color_text;

	> svg {
		display: none;
	}
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	margin-bottom: @header_spacing;
	padding: 0;
}

p {
	margin: 0;
	margin-bottom: @paragraph_spacing;
	padding: 0;
}

body > div#full-form {
	display: none;
}
